.div {
    height: 400px;
    justify-content: space-around;
    background-color: rgb(65, 60, 60);
    border: 2px inset palevioletred;
    border-radius: 5px;
}

.message {
    display: flex;
    color: white;
    height: 10px;
    font-size: 10px;
}

.user {
    float: left;
    color: blue;
    margin-right: 10px;
}

.text{
    color:palevioletred;
    float: left;
    margin-top: 3px;
}