#login-window-main {
    padding: 20px;
    width: 35vw;
    height: 30vh;
    background-color: rgb(25, 24, 28);
    box-shadow: 0px -1px 14px -1px rgba(78, 33, 73, 0.75);
    -webkit-box-shadow: 0px -1px 14px -1px rgba(78, 33, 73, 0.75);
    -moz-box-shadow: 0px -1px 14px -1px rgba(78, 33, 73, 0.75);
    border-radius: 10px;
    border: 2px inset rgb(110, 94, 155);
    position: relative;
}

#login-window-header {
    color: whitesmoke;
    padding: 20px;
}

#login-window-main > .row > .col-12 > label {
    color: white!important;
}

#login-window-main {
    position: relative;
    box-shadow: 0px -1px 14px -1px rgba(252, 252, 252, 0.75);
    -webkit-box-shadow: 0px -1px 25px -1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px -1px 14px -1px rgba(255, 255, 255, 0.75);
}

#login-logo {
    height: 30vmin;
    pointer-events: none;
    position: absolute;
    top: -300px;
    left: 13vw;
    z-index: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    #login-logo {
      animation: login-logo-spin infinite 2s linear;
    }
  }

@keyframes login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }