#login-window-main {
    padding: 20px;
    width: 35vw;
    height: auto;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    border: 2px inset rgb(40, 40, 40);
    position: relative;
    box-shadow: 0px -1px 14px -1px rgba(252, 252, 252, 0.75);
    -webkit-box-shadow: 0px -1px 25px -1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px -1px 14px -1px rgba(255, 255, 255, 0.75);
}

#login-window-header {
    color: whitesmoke;
    padding: 20px;
}

#login-window-main > .row > .col-12 > label {
    color: white!important;
}

#rope-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top: -200px;
    z-index: 1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    #rope-logo {
      animation: rope-logo-spin infinite 5s linear;
    }
  }

@keyframes rope-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .registerLink {
    color: rgb(253, 253, 253);
    text-decoration: underline;
    cursor: pointer;
  }