.post { 
    /* width: 100vw; */
    height: 150px;  
    background-color: green;
    margin: 20px;
    padding-left: 100px;
    position: relative;
    white-space: pre-line;
    display: flex;
}

.postMenu {
    margin-top: 70px;
    border: 1px solid black;
    padding: 20px;
}

.postImage {
    position: absolute;
    padding: 5px;
    left: 0px;
    top: 0px;
    /* width: 1600px!important; */
    height: 150px;
}

.postUser {
    /* float: left; */
    margin-right: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 150px;
}

.postBody {
    /* position: absolute;
    top: 0;
    left: 150px;
    white-space: pre-wrap;
    text-align: left;
    padding-top: 25px;
    padding-left: 5px; */
    /* float: left; */
    /* padding: 25px; */

}

.postBodySection {
    background-color: red!important;
    position: absolute;
    left: 155px;
    top: 30px;
    width: max-content
}

.postTimestamp {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}